#logo{
    max-width: 10vw;
}
#sauceicon{
    max-width: 10vw;
    align-self: center;
}
.newsimage{
    max-width: 50vw;
}
.newscard{
    min-height: 100%;
}
#logowelcome{
    max-width: 40vw;
    align-self: center;

}
#boxnotext{
    max-width: 20vw;
}